@model MCBA_Web.Models.BillPay
@{
    ViewData["Title"] = "Reschedule BillPay";
    var account = (Account)ViewBag.Account;
}

<h1>Reschedle BillPay: @account.AccountNumber</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="EditBillPay">
            <input type="hidden" asp-for="AccountNumber" />
            <input type="hidden" asp-for="BillPayID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @* ReSharper disable once UnknownCssClass *@
                <label asp-for="PayeeID" class="control-label"></label>
                <input asp-for="PayeeID" class="form-control" />
                <span asp-validation-for="PayeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* ReSharper disable once UnknownCssClass *@
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* ReSharper disable once UnknownCssClass *@
                <label asp-for="ScheduleTimeUtc" class="control-label"></label>
                <input asp-for="ScheduleTimeUtc" class="form-control" />
                <span asp-validation-for="ScheduleTimeUtc" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* ReSharper disable once UnknownCssClass *@
                <label asp-for="PaymentPeriod" class="control-label"></label>
                <input asp-for="PaymentPeriod" class="form-control" />
                <span asp-validation-for="PaymentPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit BillPay" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
