@{
    ViewBag.Title = "Index";
}

<div class="global-container">
    @{
        await Html.RenderPartialAsync("Header");
        await Html.RenderPartialAsync("Intro");
        await Html.RenderPartialAsync("About");
        await Html.RenderPartialAsync("../Account/Deposit");
    }
</div>