@model Login

<head>
<<<<<<< HEAD
    <title>MCBA - Login</title>
=======
    <title>Login</title>
>>>>>>> dev
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/login.css" >
</head>

@* --------- NAVBAR ---------*@
<nav class=" navbar navbar-expand-lg navbar-light bg-blue">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="~/img/Home/logo.png" width="140" height="140" class="img-fluid d-inline-block align-top" alt="MCBA Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<<<<<<< HEAD
@* --------- LoginForm ---------*@
=======

>>>>>>> dev
<body style="background-color: lightblue;">
    <div style="margin-top:120px;" class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>
                        <form asp-action="Login" method="post" class="form-signin">
                            <div class="form-label-group">
                                <div class="form-group">
                                    <input asp-for="LoginID" type="text" class="form-control" id="LoginID" name="LoginID" placeholder="Login ID" autofocus>
                                    <span asp-validation-for="LoginID" class="text-danger"></span>
                                </div>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                            <button style="height:40px; margin-bottom:20px; font-size: 15px" class="btn btn-lg btn-primary btn-block text-uppercase" value="Login" type="submit">GO!</button>
<<<<<<< HEAD
                            @Html.ValidationMessage("LoginFailed", new { @style = "margin-left: 80px", @class = "text-danger" })
=======
>>>>>>> dev
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>