.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F51B5;
    color: #fff;
    padding: 10px 0;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.navbar a:hover {
    color: #f5f5f5;
}
